body {
  background-color: #CDE7B0;
}

#amount-header, #change-header, #your-change-header, #not-float-header {
  font-variant: small-caps;
  color: #BE6E46;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 3px;
}
