<h1 id="change-header">Change Machine </h1>
<h2 id="amount-header">Input Amount: $$inputamount </h2>
<img src="/img/sw-rowe-bc-35-bill-change-machine.jpg" />
<h2 id="your-change-header">Your Change: $changeamount </h2>
