<h1>Please enter the amount you need change for</h1>
<form action='/changemachine' method='get'>
  <div class="form-group">
    <label for="inputamount">How Much?</label>
    <input id="inputamount" name="inputamount" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Make Change!</button>
</form>
